#npmignore
yarn.lock
src
!/dist
/docs
/runtime
.logs
build.js
/.github
/docs-dist
/.editorconfig                          
/.eslintignore                           
/.eslintrc.js                               
/.fatherrc.ts                             
/.prettierignore                  
/.prettierrc
tsconfig.json
yarn-error.log
yarn.lock